.header {
  border: 20px, rgb(3, 3, 3);
  background-color: skyblue;
  color: red;
  text-align: center;
  padding: 2px;
  width: 100%;
  height: 50;
  font-family: cursive;
}

.container {
  align-items: center;
}

.search {
  background-color: rgb(175, 245, 175);
  padding: 25px;
}

.card {
  background-color: lightgoldenrodyellow;
  padding: 25px;
}

#currentDisplay {
  background-color: coral;
}

#forecast {
  background-color: cyan;
}

.card_body {
  background-color: pink;
}

.list {
  background-color: white;
}

.item {
  background-color: gray;
  padding-bottom: 2px;
  padding-top: 2px;
  width: 90%;
  text-align: center;
}